body {
    background-color: cornflowerblue;
    font-family: Tahoma, sans-serif;
    color: #000;
}

.heading-primary span {
    color: #000;
}

#container {
    text-align: center;
}

.btn {
    margin: 2rem;
    padding: .5rem;
    text-decoration: none;
}

.btn-primary {
    background-color: #009688;
    color: #fff;
}

.btn-secondary {
    background-color: #f44336;
    color: #fff;
}

.heading-secondary {
    text-align: center;
    margin: .5rem;
}

#para {
    font-size: .7em;
    color: #000;
}

.textbox-container {
    border: 2px solid black;
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
}
.textbox {
    border: 1px solid black;
    padding: 10px;
    margin-top: 20px;
    box-sizing: border-box;
}
#login-signup {
    position: absolute;
    top: 20px;
    right: 20px;
}
#search-bar {
    margin-top: 20px;
}
